n*#*#
*.#*
*.beam
*.dump
*.terms
*~
TAGS
tags
var
deps/erlang-history
cbin/
cbin/*.crunk
cbin/*.clef
ebin/
logs/
shell

## Script used for fetching svn externals
lib/git-svn-*

## Variable Config
conf/sys.config

## Dialyzer output
priv/dialyzer/output.dialyzer.*
