%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
{erl_first_files, ["bossman", "minion", "evilplan", "hairyarsedpict"]}.

%% Erlang compiler options
{erl_opts, [no_debug_info,
            {i, "include"},
            {src_dirs, ["src"]},
            {platform_define,
             "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
            {platform_define, "(linux|freebsd)", 'BACKLOG', 128},
            {platform_define, "R13", 'old_inets'}]}.

%% == Cleanup ==

%% Which files to cleanup
% {clean_files, ["file", "file2"]}.

%% == OTP Applications ==

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Dependencies ==

{deps, []}.

%% == Pre/Post Command Hooks ==

{pre_hooks, []}.

{post_hooks, [{compile, "priv/crunk"}]}.

