%% -*- erlang -*-

%% sub dirs
{sub_dirs, ["apps/*"]}.

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
{erl_first_files, ["bossman", "minion", "evilplan", "hairyarsedpict"]}.

%% Erlang compiler options
{erl_opts, [no_debug_info,
            {i, "include"},
            {src_dirs, ["src"]}
           ]}.

%% == Cleanup ==

%% Which files to cleanup
% {clean_files, ["file", "file2"]}.

%% == OTP Applications ==

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Dependencies ==

{deps, [
        {'erlang-history', "", {git, "https://github.com/hypernumbers/erlang-history.git", {branch, "master"}}, [raw]},
        {mochiweb, "", {git, "https://github.com/mochi/mochiweb", {branch, "master"}}},
        {cowboy, "", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}}
       ]}.

%% == Pre/Post Command Hooks ==

% {pre_hooks, []}.

% {post_hooks, [{compile, "priv/crunk"}]}.

{plugins, [install_plugin]}.

{plugin_dir, "plugins/"}.
